{% extends "layout.twig" %}
{% block title %} Thoth - Project Overview {% endblock %}
{% block content %}
<div class="container py-4 project-overview">
    <div class="card shadow-sm mb-4">
        {% include 'pages/project/partials/card_header.twig' with {active_tab: 'overview', is_owner: true, project: data.project} %}
        <div class="card-body bg-light">
            <div class="project-summary">
                <div class="summary-card">
                    <div class="summary-title">
                        <span class="summary-icon text-primary"><i class="fas fa-align-justify"></i></span>
                        Description
                    </div>
                    <div class="summary-content">
                        {{ data.project.get_description|raw }}
                    </div>
                </div>
                <div class="summary-card">
                    <div class="summary-title">
                        <span class="summary-icon text-success"><i class="fas fa-bullseye"></i></span>
                        Objectives
                    </div>
                    <div class="summary-content">
                        {{ data.project.get_objectives|raw }}
                    </div>
                </div>
                <div class="summary-card">
                    <div class="summary-title">
                        <span class="summary-icon text-info"><i class="fas fa-users"></i></span>
                        Members
                    </div>
                    <ul class="summary-list">
                        {% for member in data.project.get_members %}
                            <li>
                                <span class="member-name">{{ member.get_name }}</span>
                                <span class="member-role">{{ member.get_level }}</span>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
            <div class="project-progress-record">
                <div class="progress-section">
                    <h5><i class="fas fa-tasks opt"></i>Progress of Systematic Review</h5>
                    <div class="progress-label">Planning</div>
                    <div class="progress mb-2">
                        <div class="progress-bar bg-success" role="progressbar" style="width: {{ data.project.get_planning }}%" aria-valuenow="{{ project.get_planning }}" aria-valuemin="0" aria-valuemax="100">
                            {{ data.project.get_planning }}%
                        </div>
                    </div>
                    <div class="progress-label">Import Studies</div>
                    <div class="progress mb-2">
                        <div class="progress-bar bg-info" role="progressbar" style="width: {{ data.project.get_import }}%" aria-valuenow="{{ project.get_import }}" aria-valuemin="0" aria-valuemax="100">
                            {{ data.project.get_import }}%
                        </div>
                    </div>
                    <div class="progress-label">Study Selection</div>
                    <div class="progress mb-2">
                        <div class="progress-bar bg-warning" role="progressbar" style="width: {{ data.project.get_selection }}%" aria-valuenow="{{ project.get_selection }}" aria-valuemin="0" aria-valuemax="100">
                            {{ data.project.get_selection }}%
                        </div>
                    </div>
                    <div class="progress-label">Quality Assessment</div>
                    <div class="progress mb-2">
                        <div class="progress-bar bg-secondary" role="progressbar" style="width: {{ data.project.get_quality }}%" aria-valuenow="{{ project.get_quality }}" aria-valuemin="0" aria-valuemax="100">
                            {{ data.project.get_quality }}%
                        </div>
                    </div>
                    <div class="progress-label">Data Extraction</div>
                    <div class="progress">
                        <div class="progress-bar bg-danger" role="progressbar" style="width: {{ data.project.get_extraction }}%" aria-valuenow="{{ project.get_extraction }}" aria-valuemin="0" aria-valuemax="100">
                            {{ data.project.get_extraction }}%
                        </div>
                    </div>
                </div>
                <div class="activity-section">
                    <h5><i class="fas fa-history opt"></i>Activity Record</h5>
                    <div class="activity-scroll">
                        {% for log in data.logs %}
                            <div class="activity-card">
                                <div class="activity-header">
                                    {{ log.name }}
                                </div>
                                <div class="activity-body">
                                    {{ log.activity }}
                                </div>
                                <div class="activity-footer">
                                    {{ log.time }}
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
